<h1>Listing tasks</h1>
    <% if flash[:error] %>
        <p id="notice"><%= flash[:error] %></p>
    <% end %>
<table class="content">
<tr>
  <td class="date_content">
    <%= Date.current %>
  </td>
  <td class="task_content" valign="top">
    <div class="task_list ofh" id="task_list">
        <div class="wrapper">
            <ul class="ul-task-lists">
                <li class="new-form">
                    <span class="new-title"><input class="add-title fs16" type="text" placeholder='Title'></span>
                    <span class="new-deadline fr d fs16"><input class='add-deadline' type='date' value=<%= Date.current %>></span>
                    <span class="new-submit" style="right:0px;top:0px;">
                        <a class="submit-btn" href="#">
                            <span class="font-icon fs25 ">%</span>
                        </a>
                    </span>
                </li>
                <li class="h20 show-form">
                    <div class="fs16">
                        <a class="add-btn" href="#">
                            <span class="font-icon fs25 ">r</span>
                        </a>        
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </td>
</tr>

</table>

<br />

<script type="text/template" id="task-template">
    <span class="i" data-id="<%%= id %>" ><input class="isdone" type="checkbox" <%%=isdone%>></span>
    <span class="t"><div class="title-content to text"><%%= title %></div></span>
    <span class="fr d text"><%%= deadline %></span>
    <span class="dbtn" style="right:0px;top:0px;">
        <a class="del-btn" href="#">
            <span class="font-icon fs20 ">I</span>
        </a>
    </span>
</script>

<script type="text/template" id="confirm-del-task-template">
<p class="font-c fs24 lh15">Are you sure to delete this task?</p>
</script>

<script type="text/template" id="add-col-template">
<li class="new-form">
    <span class="new-title"><input class="add-title fs16" type="text" placeholder='Title'></span>
    <span class="new-deadline fr d fs16"><input class='add-deadline' type='date' value=<%= Date.current %>></span>
    <span class="new-submit" style="right:0px;top:0px;">
        <a class="submit-btn" href="#">
            <span class="font-icon fs25 ">%</span>
        </a>
    </span>
</li>
<li class="h20 show-form">
    <div class="fs16">
        <a class="add-btn" href="#">
            <span class="font-icon fs25 ">r</span>
        </a>        
    </div>
</li>
</script>